<!DOCTYPE html>
<html ng-app="ResourceManager">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Rubik:400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lekton:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  </head>
  <body>



    <section ng-controller="UsersController">
      <div ng-hide="token " class="sign-up">
      <h3>Sign Up:</h3>
      <form ng-submit="createUser()">
        <input type="text" ng-model="newUser.username" placeholder="...username">
        <input type="password" ng-model="newUser.password" placeholder="...password">
        <input type="submit">
      </form>
    </div>

    <div ng-hide="token " class="log-in">
      <h3>Log In:</h3>
      <form ng-submit="obtainToken()">
        <input type="text" ng-model="logInUser.username" placeholder="...username">
        <input type="password" ng-model="logInUser.password" placeholder="...password">
        <input type="submit">
      </form>
    </div>

    <!-- Logged In User's View -->
    <div class="navbar-fixed">
    <nav ng-show="token">
      <div class="nav-wrapper #4e342e brown darken-3">
        <a href="#" class="brand-logo center"><h5 class="page-title">Toolbelt</h5></a>
            <a class="waves-effect waves-light btn modal-trigger deep-orange add-resource" href="#add-resource">Add Resource</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="log-out">
            <button ng-show="token" class="waves-effect waves-light btn" type="button" ng-click="logOut()" name="button">LogOut</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>

    <div class="container">



    <section ng-controller="ResourcesController">
      <!-- Modal Trigger -->
      <div class="menu-pane">
        <div class="row">
          <div class="input-field col s9">
              <input type="text" name="searchbox" placeholder="search here..." ng-model="searchQuery">
          </div>
          <div class="input-field col s3">
            <a ng-click="updateOrderBy()" class="waves-effect waves-light btn">Sort A-Z</a>
          </div>
        </div>
        <div class="row center">
            <h4>{{searchQuery}}</h4>
        </div>


        </div>



      <!-- Offset for fixed container -->
      <br><br><br><br><br><br><br><br><br>


        <!-- Modal Structure -->
        <div id="add-resource" class="modal bottom-sheet">
            <h5 style="display:inline-block">Add new resource</h5><a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat right">Cancel</a>
          <div class="modal-content">
            <form ng-submit="createResource()">
            <div class="row">
                <div class="input-field col s4">
                  <label for="resource-title">Title</label>
                  <input type="text" ng-model="newResource.title" placeholder="...title" id="resource-title">
                </div>
                <div class="input-field col s8">
                  <label for="resource-desc">Description</label>
                  <input type="text" ng-model="newResource.description" placeholder="...description" id="resource-desc">
                </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <label for="resource-link">Link</label>
                <input type="text" ng-model="newResource.link" placeholder="...link" id="resource-link">
              </div>
              <div class="input-field col s4">
                <label for="resource-tags">Tags</label>
                <input type="text" ng-model="newResource.tags" placeholder="...tags, seperated, by, commas" id="resource-tags">
              </div>
              <div class="input-field col s2">
                <button type="submit" value="Submit" class="waves-effect waves-light btn">Submit<i class="material-icons right">send</i></button>
              </div>
            </div>
            </form>
          </div>
          <div class="modal-footer">

          </div>
        </div>


      <ul>
      <li ng-repeat="resource in resources | filter:searchQuery | orderBy:orderByField:reverse ">
        <div class="resource">
          <h5>{{ resource.title }} </h5>
          <div class="resource-link">
            {{resource.link}}
          </div>
          <p class="resource-desc">
            {{resource.description}}
          </p>
          <a class="waves-effect waves-light btn red accent-2 right" ng-click="removeResource(resource)">Remove</a>


          <div class="resource-tags">
            Tags: {{resource.tags}}
          </div>
        </div>
      </li>
    </ul>
    </section>


</section>



</div>

<script src="/js/app.js" charset="utf-8"></script>


  </body>
</html>
